<div class="container-public-recipe">
  <div>
    <h1 class="title-public-recipe">Public Recipes</h1>
  </div>
  <% @recipes.includes(:user).each do |recipe| %>
    <div class="card-public-recipe5">
      <div class="card-body-public-recipe">
        <div class="container-list-public-recipe">
          <div>
          <%= link_to recipe_path(recipe) do %>
            <h3><%= recipe.name %></h3>
            <span>By: <%= recipe.user.name %></span>
          <% end %>
          </div>
          <div class="price-container-public-recipe">
            <p>
              Total food items: <%= recipe.recipe_foods.count %>
            </p>
            <p>
              Total price: $10.00
            </p>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>
