<section>
  <div>
    <%= link_to "Add Recipe", new_recipe_path %>
  </div>

  <% @recipes.each do |recipe| %>
    <div>
      <div>
        <%= link_to recipe.name, recipe_path(recipe) %>
        <% if recipe.user == current_user %>
          <%= button_to 'Remove', recipe, method: :delete %>
        <% end %>
      </div>
      <div>
        <p> <%= recipe.description %></p>
      </div>
    </div>
  <% end %>
</section>