<div class="main-contaienr-public-recipes">
    <div>
      <h1 class="title-public-recipes">Public Recipes</h1>
    </div>
    <div class="container-card-public-recipes">
      <div class="card-public-recipes">
        <article class="article-public-recipes">
          <div>
            <h3 class="title-card-public-recipes">Spaghetti</h3>
            <span class="recipe-author">By: Isaac</span>
          </div>
          <div>
            <p>
              Total food items: $5.00
            </p>
            <p>
              Total price: $5.00
            </p>
          </div>
        </article>
      </div>
    </div>
    <div class="container-card-public-recipes">
      <div class="card-public-recipes">
        <article class="article-public-recipes">
          <div>
            <h3 class="title-card-public-recipes">Sushi</h3>
            <span class="recipe-author">By: Rod</span>
          </div>
          <div>
            <p>
              Total food items: $10.00
            </p>
            <p>
              Total price: $10.00
            </p>
          </div>
        </article>
      </div>
    </div>
    <div class="container-card-public-recipes">
      <div class="card-public-recipes">
        <article class="article-public-recipes">
          <div>
            <h3 class="title-card-public-recipes">Spinach Pasta</h3>
            <span class="recipe-author">By: Romy</span>
          </div>
          <div>
            <p>
              Total food items: $5.00
            </p>
            <p>
              Total price: $5.00
            </p>
          </div>
        </article>
      </div>
    </div>
  </div>