<div class="main-container-shopping-list">
    <div>
      <h1 class="title-shopping-list">Shopping List</h1>
    </div>
    <div class="shopping-list">
      <div class="card-shopping-list">
        <div>
          <label class="label-shopping-list">Amount of food items to buy: 2</label>
          <label class="label-shopping-list">Total value of food needed: $146</label>
        </div>
        <div>
          <table class="table-">
            <thead class="table-primary-shopping-list">
              <tr>
                <th>Food</th>
                <th>Quantity</th>
                <th>Value</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th>Wheat Flour</th>
                <th>100 grams</th>
                <th>$46</th>
              </tr>
              <tr>
                <th>Tomato</th>
                <th>150 grams</th>
                <th>$100</th>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>