/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

html{
  background-color: #D0D3D4 ;
} 

body{
  border: 1px solid white;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 6px;
  background-color: #34495E;
  height: 550px;
}

h2{
  font-family: Arial, Helvetica, sans-serif;
  color: #D0D3D4
}

.remember_me {
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.field label{
  font-family: Arial, Helvetica, sans-serif;
  color: #D0D3D4;
  margin-bottom: 3px;
  font-size: 12px;
}

#user_email{
  margin-top: 5px;
  margin-bottom: 5px;
}

#user_password{
  margin-top: 5px;
  margin-bottom: 5px;
}

.actions{
  display: flex;
  justify-content: center;
}

.btn-log-in{
  border-radius: 5px;
  background-color: #7fcabb ;
  width: 150px;
  padding: 3px;
  font-family: Arial, Helvetica, sans-serif;
}

.container-remember_me{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  font-family: Arial, Helvetica, sans-serif;
  color: #D0D3D4;
  margin-bottom: 3px;
  font-size: 12px;
}

.links-needed{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 120px;
}

a{
  font-family: Arial, Helvetica, sans-serif;
  color: #D0D3D4;
  text-decoration: none;
  font-size: 12px;
}

a:hover{
  text-decoration:underline;
}


.navbar-title{
  padding: 25px;
  font-size: 25px;
}

.navbar-text{
  display: flex;
}

.navbar{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.navbar-list{
  display: flex;
  border: 1px solid black;
  width: 350px;
  border-radius: 5px;
  background-color: #283847;
}

.navbar-list li {
  padding: 10px;
  list-style: none;
} 

.div-dropdown{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border: 1px solid white;
  border-radius: 5px;
  height: 8px;
  padding: 15px;
  margin-left: 25px;
  background-color: #121920;
}

.dropdown-item{
  padding-bottom: 5px;
}

.dropdown-menu{
  list-style: none;
}

.dropdown-menu li{
  padding-bottom: 2px;
}

.span-log-out{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.container-shopping-list{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.title-shopping-list{
  font-family: Arial, Helvetica, sans-serif;
  color: #D0D3D4;
}

.label-shopping-list{
  font-family: Arial, Helvetica, sans-serif;
  color: #D0D3D4;
  padding: 20px;
}

.table-shopping-list{
  font-family: Arial, Helvetica, sans-serif;
  color:#ffffff;
  border: 3px #121920 solid;
  margin: 40px;
  width: 200px;
  border-radius: 8px;
  background-color: #283847;
}

tr{
  display: flex;
  justify-content: center;
  flex-direction: rox;
  width: 450px;
  align-items: center;
}

.th-shopping{
  width: 45%;
  padding: 3px;
  background-color: #46515c;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

td{
  text-align: center;
  width: 45%;
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
}

.table-food{
  background-color: #3c536a;
  width: 450px;
  margin-top: 25px;
}

.th-food{
  height: 20px;
  width: 50%;
  padding: 3px;
  background-color: #51585f;
  padding-top: 5px;
}

.tr-food{
  width: 100%;
  font-size: 13px;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  justify-content: center;
  flex-direction: rox;
  width: 450px;
  align-items: center;
}

.td-food{
  text-align: center;
  width: 45%;
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
  color: #D0D3D4;
  font-size: 12px;
  padding: 3px;
}

.btn-delete-food{
  border-radius: 5px;
  background-color: rgb(152, 16, 16);
  color: #ffffff;
  cursor: pointer;
}

.btn-delete-food:hover{
  background-color: #380404;
}

.number-of-foods{
  font-family: Arial, Helvetica, sans-serif;
  color: #D0D3D4;
  margin-top: 8px;
}

.card-header-food{
  display: flex;
  justify-content: end;
  margin: 5px;
}

.btn-add-food{
  border-radius: 5px;
  background-color: rgb(23, 23, 23);
  color: #ffffff;
  cursor: pointer;
  padding: 5px;
  border: 1px solid rgb(6, 6, 6);
  margin-bottom: 8px;
}

.btn-add-food:hover{
  background-color: rgb(59, 58, 58);
  text-decoration: none;
  border: 1px solid rgb(218, 216, 216);
}


